
<!-- <button (click)="loadcourses()">Load</button>
<ul>
    <button class="btn btn-success" (click)="AddCourse()">Ajoute</button>
    <li *ngFor="let course of courses; trackBy:trackCourse">
        {{course.id}} {{course.title}}
        
        <button class="btn btn-danger" (click)="removeCourse(course)">Delete</button>
        <button class="btn btn-warning" (click)="EditeCourse(course)">Edit</button>
    </li>
</ul>

<app-start></app-start> -->
<!-- <p *ngIf="personne.adress != null">{{personne.adress.ville}}</p> -->
<!-- <input type="text"  [appInputFormat]="'lowercase'"> -->
<br>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <contact-form></contact-form>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


